@import url(./reset.css);
@import url(https://fonts.googleapis.com/css2?family=Alex+Brush&family=Assistant&family=Cormorant+Garamond&family=Cormorant+Upright&family=Italianno&family=Laila&family=Literata:opsz@7..72&family=Lora&family=Parisienne&family=Petit+Formal+Script&family=Pontano+Sans&family=Prata&family=Rochester&family=Tangerine:wght@700&family=Taviraj&display=swap);

strong {
    font-weight: bold;
}

em {
    font-style: italic;
}

a {
    color: black;
    text-decoration: none;
}

a:visited {
    color: black;
}

html,
body,
header {
    height: 133%;
    width: 100%;
    background-color: rgb(255, 255, 239);
}

/* Header */
header {
    height: 150px;
    background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(255, 255, 255, 0.5)), url(../images/didi-miam-6otukgGzRI4-unsplash.jpg);
    background-size: cover;
    background-position-x: center;
    background-position-y: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
}

header img {
    height: 110%;
}

h1 {
    font-family: 'Italianno', cursive;
    font-size: 100px;
    text-shadow: 2px 2px rgb(189, 230, 194, 0.8);
}

/* Nav */
nav {
    height: 50px;
}

nav ul {
    display: flex;
    justify-content: center;
    background-color: rgb(189, 230, 194);
    gap: 3em;
}

nav ul li {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Cormorant Garamond', serif;
    font-size: 20px;
    color: black;
}

nav ul li a {
    text-decoration: none;
    display: inline-block;
    padding: 1em;
    transition: 0.5s;
}

nav a:hover {
    background-color: rgb(255, 255, 255, 0.4);
    transition: 0.5s;
}

.content {
    display: flex;
}

/* ASIDE */
aside {
    width: 10%;
    margin: 2em 2em 0em 2em;
    padding: 1em;
    text-align: center;
    background-color: rgb(189, 230, 194);
    height: 100%;
    border-radius: 5px;
}

aside h2 {
    font-size: 40px;
    padding: 0.5em;
    font-family: 'Italianno', cursive;
}

aside ul li {
    padding: 1em;
    background-color: rgb(224, 247, 226);
    margin: 10px;
    cursor: pointer;
    border-radius: 5px;
    font-family: 'Cormorant Garamond', serif;
    font-size: 15px;
}

aside ul li.active {
    background-color: rgb(255, 255, 255);
}


/* MAIN */
main {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: auto;
    gap: 1em;
    margin-top: 2em;
    width: 80%;
}

.item.hide {
    display: none;
}

figure img {
    height: 350px;
    width: 270px;
    border: 2px solid rgb(189, 230, 194);
}



/* Footer */
footer {
    width: 100%;
    background-color: rgb(189, 230, 194);
    display: flex;
    justify-content: space-between;
    margin-top: 2em;
}

footer div {
    margin: 1em;
}

.info ul {
    display: flex;
    flex-direction: column;
    padding: 1em;
    align-items: right;
}

.info li {
    font-size: 20px;
    text-align: right;
    font-family: 'Cormorant Garamond', serif;
    padding-top: 0.5em;
    padding-right: 1em;
}

footer img {
    width: 40px;
}

.sm {
    display: flex;
}

.sm li {
    padding: 1em;
}

.copyright {
    font-style: italic;
    padding-top: 1.8em;
    padding-left: 1em;
}

/* RESPONSIVE DESIGN */

/* SCREENS 1100px AND DOWN */
@media screen and (max-width: 1100px) {

    aside {
        width: 20%;
    }

    main {
        width: 70%;
    }

    figure img {
        height: 300px;
        width: 220px;
    }
}

/* SCREENS 750px AND DOWN */
@media screen and (max-width: 750px) {

    header {
        height: 8%;
    }

    nav {
        position: relative;
        text-align: center;
        min-height: 30px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    nav:before {
        content: "MENU";
        font-family: 'Cormorant Garamond', serif;
        display: block;
        cursor: pointer;
        width: 100%;
        padding: 1em;
        background-color: rgb(189, 230, 194, 0.8);
    }

    nav ul {
        display: block;
        width: 100%;
        position: absolute;
        top: -9999px;
        gap: 0;
    }

    nav:hover ul {
        top: 45px;
    }

    nav li a {
        display: block;
        width: 100%;
    }

    h1 {
        font-size: 60px;
    }

    .content {
        flex-wrap: wrap;
    }

    aside {
        width: 100%;
        text-align: center;
    }

    aside h2 {
        font-size: 24px;
    }

    aside ul {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

    aside ul li {
        font-size: 12px;
    }

    main {
        width: 100%;
    }

    figure img {
        height: 150px;
        width: 100px;
    }

    .info li {
        font-size: 8px;
    }

    footer img {
        width: 20px;
    }

    .sm li {
        padding: 0.25em 0.5em 0.25em 0.5em;
    }

    .copyright {
        font-size: 8px;
        padding-top: 1.13em;
    }
}