@import url(./reset.css);
@import url(https://fonts.googleapis.com/css2?family=Alex+Brush&family=Assistant&family=Cormorant+Garamond&family=Cormorant+Upright&family=Italianno&family=Laila&family=Literata:opsz@7..72&family=Lora&family=Parisienne&family=Petit+Formal+Script&family=Pontano+Sans&family=Prata&family=Rochester&family=Tangerine:wght@700&family=Taviraj&display=swap);

strong {
    font-weight: bold;
}

em {
    font-style: italic;
}

a {
    color: black;
    text-decoration: none;
}

a:visited {
    color: black;
}

html,
body,
header {
    height: 120.5%;
    width: 100%;
    background-color: rgb(255, 255, 239);
}

/* Header */
header {
    height: 150px;
    background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(255, 255, 255, 0.5)), url(../images/didi-miam-6otukgGzRI4-unsplash.jpg);
    background-size: cover;
    background-position-x: center;
    background-position-y: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
}

header img {
    height: 110%;
}

h1 {
    font-family: 'Italianno', cursive;
    font-size: 100px;
    text-shadow: 2px 2px rgb(189, 230, 194, 0.8);
}

/* Nav */
nav {
    height: 50px;
    margin-bottom: 1em;
}

nav ul {
    display: flex;
    justify-content: center;
    background-color: rgb(189, 230, 194);
    gap: 3em;
}

nav ul li {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Cormorant Garamond', serif;
    font-size: 20px;
    color: black;
}

nav ul li a {
    text-decoration: none;
    display: inline-block;
    padding: 1em;
}

nav a:hover {
    background-color: rgb(255, 255, 255, 0.4);
    transition: 0.5s;
}

/* Main Info */
.allInfo {
    display: flex;
    margin-top: 2em;
}

.gisellaHours {
    margin: auto;
}

.gisellaHours img {
    width: 275px;
    border-radius: 5px;
    background-color: rgb(189, 230, 194);
    padding: 1em;
}

.hours {
    height: 260px;
    padding: 1em;
    background-color: rgb(189, 230, 194);
    border-radius: 0.25em;
    margin-top: 1em;
    margin-bottom: 1em;
    font-size: 20px;
    font-family: 'Cormorant Garamond', serif;
}

.hours h2 {
    margin-bottom: 1em;
    text-align: center;
}

.hours div {
    display: flex;
    gap: 1em;
}

.hours li {
    padding: 0.25em;
}

.day {
    text-align: left;
}

.time {
    text-align: right;
}

.infoMap{
    width: 65%;
    margin: auto;
    font-size: 30px;
    font-family: 'Cormorant Garamond', serif;
    align-content: center;
    text-align: right;
}

.infoMap section {
    margin: 1em;
    padding: 0.5em;
    background-color: rgb(189, 230, 194);
    border-radius: 5px;
}

.infoMap li {
    padding: 0.25em;
}

.infoMap iframe {
    width: 100%;
}

.additionalInfo {
    background-color: rgb(243, 243, 194);
    text-align: center;
    font-size: 30px;
    font-family: 'Cormorant Upright', serif;
    margin-bottom: 0.5em;
    text-shadow: 2px 2px rgb(189, 230, 194, 0.8);
    padding: 1em;
    margin-top: 1em;
}

/* Footer */
footer {
    width: 100%;
    background-color: rgb(189, 230, 194);
    display: flex;
    justify-content: space-between;
    margin-top: 1em;
}

footer div {
    margin: 1em;
}

.info ul {
    display: flex;
    flex-direction: column;
    padding: 1em;
    align-items: right;
}

.info li {
    font-size: 20px;
    text-align: right;
    font-family: 'Cormorant Garamond', serif;
    padding-top: 0.5em;
    padding-right: 1em;
}

footer img {
    width: 40px;
}

.sm {
    display: flex;
}

.sm li {
    padding: 1em;
}

.copyright {
    font-style: italic;
    padding-top: 1.8em;
    padding-left: 1em;
}

/* RESPONSIVE DESIGN */

/* SCREENS 1000px AND DOWN */
@media screen and (max-width: 1000px) {
    .gisellaHours img {
        width: 200px;
    }

    .hours {
        font-size: 18px;
        height: 240px;
    }

    .infoMap{
        font-size: 25px;
    }
}

/* SCREENS 750px AND DOWN */
@media screen and (max-width: 750px) {

    header {
        height: 8%;
    }

    nav {
        position: relative;
        text-align: center;
        min-height: 30px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    nav:before {
        content: "MENU";
        font-family: 'Cormorant Garamond', serif;
        display: block;
        cursor: pointer;
        width: 100%;
        padding: 1em;
        background-color: rgb(189, 230, 194, 0.8);
    }

    nav ul {
        display: block;
        width: 100%;
        position: absolute;
        top: -9999px;
        gap: 0;
    }

    nav:hover ul {
        top: 45px;
    }

    nav li a {
        display: block;
        width: 100%;
    }

    h1 {
        font-size: 40px;
    }

    .allInfo {
        flex-direction: column;
    }

    .infoMap {
        width: 100%;
        font-size: 20px;
    }

    .additionalInfo {
        font-size: 25px;
    }

    form {
        flex-wrap: wrap;
        justify-content: center;
    }

    button {
        font-size: 25px;
    }

    .info li {
        font-size: 8px;
    }

    footer img {
        width: 20px;
    }

    .sm li {
        padding: 0.25em 0.5em 0.25em 0.5em;
    }

    .copyright {
        font-size: 8px;
        padding-top: 1.13em;
    }
}